[submodule "tanuki-server"]
	path = tanuki-server
	url = https://github.com/DANDROZAVR/tabuki-server
[submodule "tanuki-client"]
	path = tanuki-client
	url = https://github.com/DANDROZAVR/tanuki-client
